{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/screens/(.*)$",
    "^@/components/(.*)$",
    "^@/ui/(.*)$",
    "^@/hooks/(.*)$",
    "^@/shader/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "^(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
